fastapi
uvicorn[standard]
python-dotenv
pydantic-settings

supabase

torch
torchvision

numpy
pandas
scikit-learn

Pillow
opencv-python

ftfy
regex

matplotlib
tqdm
requests

git+https://github.com/openai/CLIP.git